<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <input type="button" onclick="location.href='/'" value="Top">
    <input type="button" onclick="location.href='login'" value="Log in">
    <input type="button" onclick="location.href='signup'" value="Sign up">
    <input type="button" onclick="location.href='logout'" value="Logout">
    <input type="button" onclick="location.href='todo'" value="TodoList">
</head>

<body>

</body>

</html>